<div class="sidebar">
    <a href="/" class="logo"><img src="/img/bwpt.svg" alt="Beer, Wings, and Professional Things" /></a>
    
    <hr>
    
    <div class="about">
        <div class="about--description">
            <p>We are a group of young professionals looking to meet new people while participating in social events locally in Sarnia, ON.</p>
        </div>
        <div class="about--signup"><a href="https://beer.us12.list-manage.com/subscribe?u=7a8429ece0a58b6036c940ada&id=46913ec411" target="_blank">Sign up to our newsletter</a></div>
        <div class="about--facebook"><a href="https://www.facebook.com/groups/beerwingsprofessionalthings/">Join us on Facebook</a></div>
        <div class="about--organizers">
            <h3>Co-organizers</h3>
            <ul>
                <li class="organizer">
                    <a href="mailto:heather.lomax4@gmail.com" title="Heather Lomax">heather.lomax4@gmail.com</a>
                </li>
                <li class="organizer">
                    <a href="mailto:Natasha.Peer@shell.com" title="Natasha Peer">Natasha.Peer@shell.com</a>
                </li>
            </ul>
        </div>
        <div class="about--survey">
            <p>Fill out <a href="https://www.surveymonkey.com/r/LLFXWLK" target="_blank">our survey</a> to let us know what events you would be interested in!</p>
        </div>
    </div>
</div>
<div class="content-container"><div>
